*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F4F4F4;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* .container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
} */

.reduslim-form {
  display: flex;
  max-width: 1120px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  box-shadow: 0 0 50px rgba(0,0,0,0.15);
}

img {
  flex-grow: 1;
  max-width: 560px;
}

.reduslim-form__column {
  flex-grow: 1;  
  display: flex;
  flex-direction: column;
  /* min-width: 560px; */
  background-color: #ffffff;
}

.reduslim-form__tagline-section {
  background-color: #F8F8F8;
  height: 136px;
  border-top-right-radius: 30px;
}

.reduslim-form__tagline-section-inner {
  /* width: 305px; */
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.reduslim-form__tagline-section b {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #212121;
}

.reduslim-form__column form {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reduslim-form__column form label {
  /* align-self: flex-start; */
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  color: #212121;
}

.reduslim-form__name {
  margin-right: 173px;
}

.reduslim-form__phone {
  margin-right: 147px;
}